:root {
--classic-black: #000000;
--classic-gray: #283136;
--coral: #FB565A;
--coral-dark:#E74246;
--red:#D7373B;
--lime:#00CA74;
--lawngreen:#00BC6C;
--limegreen:#00AA62;
--palegoldenrod: #EFC849;
--khaki: #EAB534;
--dark-khaki:#E5A722;
--grey:#666666;
--white:rgba(255, 255, 255, 1);
--black:#4D4D4D;
--main-gray:#DFDFDF;
--main-black:#D5D5D5;
--background-white: #EEEEEE;
--white03:rgba(255, 255, 255, 0.3);
--back-grey: #E1E1E1;
--white-footer:#FFFFFF;
--scale-back: #d7dcde;
--bar-back: #00ca74;
--toogle-back:#ababab;
--toogle-box:#cfcfcf;
--input-color:#283136;
--back-input:#f1f1f1;
--pagination-border:#DBDBDB;
}

body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family:"Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background-color: var(--white);
    height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 1160px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}


.links {
    text-decoration: none;
}

.main-nav {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--classic-black);
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    margin-top: 49px;
}

.cite-navigation {
    margin: 0px;
    padding: 0px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 860px;
}

.cite-navigation:last-child {
    margin-right: 0px;
}


.cite-navigation .links,
.basket-user .links {
    display: block;
    padding: 22px 22px;
}

.basket-user .links {
    padding-left: 40px;
    position: relative;
}

.basket::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 0px;
    width: 15px;
    height: 15px;
    background-image: url("../img/basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-logo:hover {
    opacity: 0.7;
}

.header-logo:focus {
    opacity: 0.3;
}

.cite-navigation .links {
    color: var(--classic-black);
}

.cite-navigation .links:link,
.basket-user .links:link {
    color: var(--classic-black);
}

.cite-navigation .links:visited,
.basket-user .links:visited  {
    color: var(--classic-black);
}

.cite-navigation .links:hover,
.basket-user .links:hover {
    color: var(--coral);
}

.cite-navigation .links:focus,
.basket-user .links:focus {
    color: var(--classic-black);
    opacity: 0.3;
    text-decoration: underline;
}

.slider .title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    font-style: normal;
    width: 400px;
}

.slider {
    position: relative;
}

.slide {
    display: flex;
    justify-content: flex-start;
}

.slider-controls .button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--white-footer);
    border-radius: 50%;
    margin-right: 17px;
}

.slider-controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 580px;
    top: 335px;
}

.slider-controls .current::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    border: 3px solid var(--black);
    border-radius: 50%;
}

.services-list,
.shop-pages-list,
.cite-navigation,
.filter-list,
.grid-filter,
.features-filter,
.social {
    list-style: none;
}

.services-list .services-title {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.services {
    margin-top: 73px;
    margin-bottom: 80px;
    position: relative;
}

.title-order,
.title-table {
    text-transform: uppercase;
}

.button {
    width: 160px;
    height: 50px;
    color: var(--white);
    border-radius: 3px;
    border:none;
}
.slider-button {
    width: 240px;
    height: 50px;
    background-color: var(--coral);
}

.slider-button:link {
    background-color: var(--coral);
}

.slider-button:visited {
    background-color: var(--coral);
}

.slider-button:hover {
    background-color: var(--coral-dark);
}

.slider-button:focus {
    background-color: var(--red);
    color: var(--white03);
}

.services-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.services-item {
    margin-right: 100px;
}

.button-site:link {
    background-color: var(--coral);
}

.button-site {
    background-color: var(--coral);
}

.button-site:hover {
    background-color: var(--coral-dark);
}

.button-site:focus {
    background-color: var(--red);
    color: var(--white03);
}

.button-app {
    background-color: var(--lime);
}

.button-app:link {
    background-color:var(--lime);
}

.button-app:visited {
    background-color: var(--lime);
}

.button-app:hover {
    background-color: var(--lawngreen);
}

.button-app:focus {
    background-color: var(--limegreen);
    color: var(--white03);
}

.button-pres {
    background-color: var(--palegoldenrod);
}

.button-pres:link {
    background-color: var(--palegoldenrod);
}

.button-pres:visited {
    background-color: var(--palegoldenrod);
}

.button-pres:hover {
    background-color: var(--khaki);
}

.button-pres:focus {
    background-color: var(--dark-khaki);
    color: var(--white03);
}

.company-info .title-info {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.title-info {
    padding-bottom: 32px;
}

.title-order {
    margin-top: 40px;
    margin-bottom: 23px;
}

.order-list {
    padding: 0;
    margin-left: 32px;
    list-style: none;
}

.orders {
    margin-bottom: 24px;
}

.company-info {
    display: flex;
    min-height: 413px;
    margin-top: 39px;
}

.info-container {
    margin-right: 149px;
    margin-top: 34px;
}

.nerds-img {
    margin-bottom: 37px;
}

.title-table {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}

.percent {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    margin-bottom: 10px;
}

.table-inf {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.partners-links:link {
    opacity: 0.2;
}

.partners-links:visited {
    opacity: 0.2;
}

.partners-links:hover {
    opacity: 1;
}

.partners-links:focus {
    opacity: 0.1;
}

.clients {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 73px;
    margin-bottom: 80px;
}

.main-footer {
    position: relative;
}

.footer-contacts {
    text-decoration: none;
    width: 319px;
    height: 308px;
    background-color: var(--white-footer);
    position: absolute;
    left: 140px;
    top: 54px;
}

.footer-social {
    display: flex;
    justify-content: flex-start;
    margin-top: 68px;
    margin-bottom: 67px;
}

.footer-company-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-top: 50px;
}

.footer-phone {
    margin-top: 18px;
}

.footer-company-name,
.address,
.footer-phone,
.button-send {
    margin-left: 50px;
}

.friends {
    margin-left: 140px;
}

.address, .footer-phone {
    color: var(--grey);
    font-size: 16px;
    line-height: 18px;
}

.button-send {
    background-color: var(--coral);
    width: 219px;
    height: 50px;
    color: var(--white);
    margin-top: 37px;
}

.button-send:link,
.button-send:visited {
    background-color: var(--coral);
}

.button-send:hover {
    background-color: var(--coral-dark);
}

.button-send:focus {
    color: var(--white03);
    background-color: var(--red);
}

.social-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 258px;
    padding: 0;

}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    background: linear-gradient(0deg, var(--back-grey),var(--back-grey)), var(--white);
    border-radius:50%;
}

.social-button:hover {
    background: linear-gradient(0deg, var(--coral-dark),var(--coral-dark)), var(--white);
}

.social-button:focus {
    background: linear-gradient(0deg, var(--red),var(--red)),var(--white);
}

.footer-img:link,
.footer-img:visited,
.footer-img:hover {
    opacity: 1;
}

.footer-img:active {
    opacity: 0.3;
}

.friends-follow {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.text-footer {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.slide-2,
.slide-3,
.modal {
    display:none;
}

.feedback {
    width: 960px;
    height:590px;
    margin-left: 140px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.feedback .feedback-title {
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
}

.feedback-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.name-form {
    grid-column: 1/2;
    grid-row: 1/2;
}

.email-form {
    grid-column: 2/3;
    grid-row: 1/2;
}

.message-form {
    grid-column: 1/-1;
    grid-row: 2/3;
}

.button-form {
    grid-column: 1/-1;
    grid-row: 3/4;
}

.button-send-footer {
    background-color: var(--coral);
    color: var(--white);
}

.button-send-footer:hover {
    background-color: var(--coral-dark);
}

.button-send-footer:focus {
    background-color: var(--red);
    color: var(--white03);
}

.title-shop {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 108px;
}

.main-catalog {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.filters {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-price {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color:var(--classic-gray);
    background: var(--white);
    border-radius: 3px;
    border-color: var(--white);
    box-shadow:var(--white);
    width: 400px;
}

.filter {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--classic-black);
}

.filter-list {
    position: relative;
}

.filter-list:last-child::before {
    content: "";
    position: absolute;
    top: 4px;
    right: -57px;
    width: 11px;
    height: 10px;
    background-image: url("../img/triangle.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-list:last-child::after {
    content: "";
    position: absolute;
    top: 4px;
    right: -85px;
    width: 11px;
    height: 10px;
    background-image: url("../img/triangle.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.2;
    transform: rotate(180deg);
}

.sort {
    text-decoration: none;
}

.sort:link,
.sort:focus {
    opacity: 1;
    color: var(--classic-black);
}

.sort:visited {
    opacity: 0.3;
    color: var(--classic-black);
}

.sort:hover {
    opacity: 0.6;
    color: var(--classic-black);
}

.column {
    border: none;
    margin: 0;
    padding:0;
}

.column .grid {
    margin-top: 54px;
}

.features {
    margin-top: 43px;
}

.grid, .features {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.grid-filter,
.features-filter {
   font-size: 16px;
   line-height: 20px;
   font-weight: 400;
   color: var(--classic-gray);
   margin: 0;
   padding: 0;
}

.grid-filter:link,
.features-filter:link,
.grid-filter:visited,
.features-filter:visited {
    opacity: 0.4;
    color: var(--black);
}

.features-filter:hover,
.grid-filter:hover {
    opacity: 1;
    color: var(--black);
}

.button-present {
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    width: 260px;
    height: 50px;
    margin-top:28px;
    border-radius: 3px;
}

.button-present:link,
.button-present:visited {

}

.button-present:hover {
    border: var(--main-gray);
}

.button-present:focus {
    border: var(--main-black);
    opacity: 0.3;
}

.product {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--grey);
    min-height: 360px;
    width: 360px;
    margin-bottom: 32px;
    position: relative;
}

.demo-slider {
    width: 358px;
    height: 40px;
    background-color: var(--black);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    opacity: 0.12;
}

.product:hover .demo-slider {
    opacity: 1;
}

.demo-button {
    padding: 0;
    width: 14px;
    height: 14px;
    background-color: var(--white-footer);
    border-radius: 50%;
    border:none;
    margin-top: 13px;
    margin-right: 9px;
}

.demo-slider .demo-button:first-child {
    margin-left: 16px;
}

.name-product {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: var(--classic-black);
    margin-top: 26px;
    margin-bottom: 12px;
    text-decoration: none;
    display: block;
}

.name-product:hover {
    color: var(--coral);
}

.name-product:focus {
    color: var(--classic-black);
    opacity: 0.3;
}

.button-buy {
    color: var(--white);
    background: var(--coral);
    width: 200px;
    height: 50px;
    border-radius: 3px;
    border: none;
    margin-top: 32px;
    margin-bottom: 44px;
}

.button-buy:link,
.button-buy:visited {
    background: var(--coral);
}

.button-buy:hover {
    background: var(--coral-dark);
}

.button-buy:focus {
    background: var(--red);
}

.info-card {
    display: none;
    position: absolute;
    width: 360px;
    height: 231px;
    text-align: center;
    top: 390px;
    background-color: var(--background-white);
}

.product:hover .info-card {
    display: block;
}

.pagination {
    margin-top: 54px;
    margin-bottom: 60px;
}

.shop-pages .links {
    text-decoration: none;
    border: 3px solid var(--pagination-border);
}

.shop-page {
    width: 50px;
    height: 50px;
    border: 3px;
    border-radius: 3px;
    background-color:var(--background-white);
    text-align: center;
    line-height: 50px;
    margin-right: 11px;
}

.shop-page:first-child {
    border: 3px solid var(--pagination-border);
}

.shop-page-next {
    width: 260px;
    height: 50px;
    border: 3px;
    border-radius: 3px;
    background-color: var(--background-white);
    text-align: center;
    line-height: 50px;
}

.shop-page .links,
.shop-page-next .links {
    color: var(--classic-black);
}


.shop-page:link,
.shop-page:visited {
    background-color:var(--background-white);
}

.shop-page-next:link,
.shop-page-next:visited {
    background-color: var(--background-white);
}

.shop-page:hover,
.shop-page-next:hover {
    background-color:var(--main-gray);
}

.shop-page:focus,
.shop-page-next:focus {
    background-color: var(--main-black);
    opacity: 0.3;
}

.catalog-nav {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--classic-black);
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    margin-top: 49px;
}

.basket-user {
    width: 130px;
}

.catalog-header-logo {
    width: 160px;
}

.catalog-header {
    margin-top: 48px;
}

.wrapper {
    display: grid;
    grid-template-columns:repeat(12, 60px);
    grid-column-gap: 40px;
    grid-template-rows: 30px 1fr;
    grid-row-gap: 40px;
}

.filters-wrapper {
    grid-column: 1/4;
    grid-row: 1/2;
}

.catalog-wrapper {
    grid-column: 5/-1;
    grid-row: 2/-1;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 758px;
    justify-content: space-between;
}

.catalog-wrapper:nth-child(2n) {
    margin-right: 0;
}

.inner-wrapper {
    display: flex;
}

.filter {
    display: flex;
}

.filters-title {
    margin-right: 266px;
    margin-top: 0;
    padding: 0px;
}

.filter-list {
    display: flex;
    margin-top: 0;
    padding: 0;
    align-content: center;
    width: 272px;
    justify-content: space-between;
    text-transform: uppercase;

}

.grid-item .grid-item-label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.grid-filter-radio + .grid-item-label::before {
    content: "";
    position: absolute;
    left: -39px;
    top: -2px;
    width: 20px;
    height: 20px;
    border: 5px solid var(--black);
    border-radius: 50%;
    opacity: 0.3;
}

.grid-filter-radio:checked + .grid-item-label::after {
    content: "";
    position: absolute;
    top: 7px;
    left:-30px;
    width: 11px;
    height: 11px;
    background-color: var(--black);
    border-radius: 50%;
    opacity: 0.4;
}

.features-item {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.features-filter-checkbox + .features-item-label::before {
    content: "";
    position: absolute;
    left: -39px;
    top: -2px;
    width: 21px;
    height: 21px;
    border: 2px solid var(--black);
    border-radius: 3px;
    opacity:0.4;
}

.features-filter-checkbox:checked + .features-item-label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -34px;
    width: 21px;
    height: 17px;
    background-image: url(../img/cheked.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.grid-item,
.features-item {
    margin-bottom: 20px;
    margin-left: 40px;
}

.shop-pages-list {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    color: var(--classic-black);
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    width: 260px;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
  }
  
  .filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color:var(--back-grey);
    border-radius: 5px;
  }
  
  .range-controls .scale {
    height: 2px;
    background:var(--scale-back);
  }
  
  .range-controls .bar {
    width: 70%;
    height: 2px;
    background:var(--bar-back);
  }
  
  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--white-footer);
    background-color:var(--toogle-back);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toogle-box);
    cursor: pointer;
  }
  
  .range-controls .toggle-min {
    left: 18px;
  }
  
  .range-controls .toggle-max {
    left: 160px;
  }
  
  .price-controls {
    display: flex;
    justify-content: space-between;
  }
  
  .price-controls label {
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--input-color);
    border: none;
    border-radius: 5px;
    background:var(--back-input);
    font-family: inherit;
    font-size: inherit;
  }

  .header-logo,
  .links,
  .button,
  .partners-links,
  .social-button,
  .sort,
  .grid-item-label,
  .features-item-label,
  .button-present,
  .demo-button,
  .button-buy {
      cursor: pointer;
  }