:root {
--classic-black: #000000;
--classic-gray: #283136;
--coral: #FB565A;
--coral-dark:#E74246;
--red:#D7373B;
--lime:#00CA74;
--lawngreen:#00BC6C;
--limegreen:#00AA62;
--palegoldenrod: #EFC849;
--khaki: #EAB534;
--dark-khaki:#E5A722;
--grey:#666666;
--white:#FFFFFF;
--black:#4D4D4D;
--main-gray:#DFDFDF;
--main-black:#D5D5D5;
--background-white: #EEEEEE;

}

body {
min-width: 1440px;
margin: 0;
padding: 0;
font-family:"Roboto", Arial, sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 400;
text-transform: uppercase;
background-color: var(--white);
}

.links {
    text-decoration: none;
}

.main-nav {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--classic-black);
}

.cite-navigation {
    list-style: none;
    color: var(--classic-black);
}

.cite-navigation a:link {
    color: var(--classic-black);
}

.cite-navigation a:visited {
    color: var(--classic-black);
}

.cite-navigation a:hover {
    color: var(--coral);
}

.cite-navigation a:focus {
    color: var(--classic-black);
    opacity: 0.3;
    text-decoration: underline;
}

.slider h1 {
    font-size: 55px;
    line-height: 50px;
    font-weight: 500;
}

.services-list,
.shop-pages {
    list-style: none;
}

.services-list h3 {
    font-size: 24px;
    line-height: 30px;
}

.button {
    width: 160px;
    height: 50px;
}
.slider-button {
    width: 240px;
    height: 50px;
    background-color: var(--coral);
}

.slider-button:link {
    background-color: var(--coral);
}

.slider-button:visited {
    background-color: var(--coral);
}

.slider-button:hover {
    background-color: var(--coral-dark);
}

.slider-button:focus {
    background-color: var(--red);
}

.button-site:link {
    background-color: var(--coral);
}

.button-site {
    background-color: var(--coral);
}

.button-site:hover {
    background-color: var(--coral-dark);
}

.button-site:focus {
    background-color: var(--red);
}

.button-app {
    background-color: var(--lime);
}

.button-app:link {
    background-color:var(--lime);
}

.button-app:visited {
    background-color: var(--lime);
}

.button-app:hover {
    background-color: var(--lawngreen);
}

.button-app:focus {
    background-color: var(--limegreen);
}

.button-pres {
    background-color: var(--palegoldenrod);
}

.button-pres:link {
    background-color: var(--palegoldenrod);
}

.button-pres:visited {
    background-color: var(--palegoldenrod);
}

.button-pres:hover {
    background-color: var(--khaki);
}

.button-pres:focus {
    background-color: var(--dark-khaki);
}

.company-info h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.percent {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
}

.table-inf {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.footer-contacts {
    text-decoration: none;
}

.address, .footer-phone {
    color: var(--grey);
    font-size: 16px;
    line-height: 18px;
}

.button-send {
    background-color: var(--coral);
    width: 219px;
    height: 50px;
}

.button-send:link,
.button-send:visited {
    background-color: var(--coral);
}

.social-button:hover,
.social-button:focus {
    text-decoration:none;
}

.friends-follow {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.text-footer {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.feedback h2 {
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
 }

.button-send-footer {
    background-color: var(--coral);
}

.main-catalog {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.filters {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.filter-price {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color:var(--classic-gray);
    background: var(--white);
    border-radius: 3px;
    border-color: var(--white);
    box-shadow:var(--white);
}

.filter {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    list-style: none;
    color: var(--classic-black);
}

.sort {
    text-decoration: none;
}

.sort:link,
.sort:focus {
    opacity: 1;
    color: var(--classic-black);
}

.sort:visited {
    opacity: 0.3;
    color: var(--classic-black);
}

.sort:hover {
    opacity: 0.6;
    color: var(--classic-black);
}

.column {
    border: none;
}

.grid, .features {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.grid-filter,
.features-filter {
   list-style: none;
   font-size: 16px;
   line-height: 20px;
   font-weight: 400;
   color: var(--classic-gray);
}

.grid-filter:link,
.features-filter:link,
.grid-filter:visited,
.features-filter:visited {
    opacity: 0.4;
    color: var(--black);
}

.features-filter:hover,
.grid-filter:hover {
    opacity: 1;
    color: var(--black);
}

.button-present {
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    width: 260px;
    height: 50px;
}

.button-present:link,
.button-present:visited {
    border: none;
}

.button-present:hover {
    border: var(--main-gray);
}

.button-present:focus {
    border: var(--main-black);
    opacity: 0.3;
}

.product {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--grey);
}

.name-product {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: var(--classic-black);
}

.button-buy {
    color: var(--white);
    background: var(--coral);
    width: 200px;
    height: 50px;
    border-radius: 3px;
}

.button-buy:link,
.button-buy:visited {
    background: var(--coral);
}

.button-buy:hover {
    background: var(--coral-dark);
}

.button-buy:focus {
    background: var(--red);
}

.shop-pages a {
    text-decoration: none;
}

.shop-page {
    width: 50px;
    height: 50px;
    border: 3px;
    border-radius: 3px;
    background-color:var(--background-white);
    text-align: center;
    line-height: 50px;
}

.shop-page-next {
    width: 260px;
    height: 50px;
    border: 3px;
    border-radius: 3px;
    background-color: var(--background-white);
    text-align: center;
    line-height: 50px;
}

.shop-pages .links {
    color: var(--classic-black);
}

.shop-page:link,
.shop-page:visited {
    background-color:var(--background-white);
}

.shop-page-next:link,
.shop-page-next:visited {
    background-color: var(--background-white);
}

.shop-page:hover,
.shop-page-next:hover {
    background-color:var(--main-gray);
}

.shop-page:focus,
.shop-page-next:focus {
    background-color: var(--main-black);
    opacity: 0.3;
}

